{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gallery list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Author</th>
                <th>Postdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td><a href="{{ path('gallery_show', { 'id': gallery.id }) }}">{{ gallery.id }}</a></td>
                <td>{{ gallery.title }}</td>
                <td>{{ gallery.body }}</td>
                <td>{{ gallery.author }}</td>
                <td>{% if gallery.postDate %}{{ gallery.postDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gallery_show', { 'id': gallery.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gallery_edit', { 'id': gallery.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gallery_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
